{% extends "./layout/base.html" %}
{% block title %}Editar marca{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{url_for('user_device.new')}}">Dispositivos</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Marcas</li>
  </ol>
</nav>
<div class="d-flex justify-content-between">
  <div class="col">
    <h2 class="fw-bold text-body-emphasis mb-5">Cadastre uma marca</h2>
  </div>
  <div class="">
    <a class="btn btn-outline-danger" hx-delete="{{url_for('brand.delete', brand_id=brand.id)}}" hx-target="body"
      hx-push-url="true">
      Excluir marca
    </a>
  </div>
</div>
<form action="{{ url_for('brand.update', brand_id=brand.id) }}" method="POST">
  <div class="mb-3">
    <label for="brand_name" class="form-label fw-bold">Nome da marca</label>
    <input type="text" class="form-control" id="brand_name" name="name" value="{{brand.name}}" required>
  </div>
  <div class="mb-3">
    <label for="brand_name" class="form-label fw-bold">Prefixo</label>
    <input type="text" class="form-control" id="brand_prefix" name="prefix" value="{{brand.prefix}}" required>
  </div>
  <div class="d-flex justify-content-end mt-5">
    <button type="submit" class="btn btn-primary">Editar</button>
  </div>
</form>
{% endblock %}