{% extends "./layout/base.html" %}
{% block title %}Editar marca{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a href="{{url_for('user_device.new')}}">Dispositivos</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Marcas</li>
  </ol>
</nav>
<div class="d-flex justify-content-between">
  <div class="col">
    <h2 class="fw-bold text-body-emphasis mb-5">Editar uma marca</h2>
  </div>
  <div class="">
    <a class="btn btn-outline-danger" hx-delete="{{url_for('brand.delete', brand_id=brand.id)}}" hx-target="body"
      hx-confirm="Tem certeza que deseja excluir a marca?" hx-push-url="true"
      hx-vals='js:{is_public: $("#is_public").is(":checked")}'>
      Excluir marca
    </a>
  </div>
</div>
<form action="{{ url_for('brand.update', brand_id=brand.id) }}" method="POST">
  <div class="mb-3">
    <label for="brand_name" class="form-label fw-bold">Nome da marca</label>
    <input type="text" class="form-control" id="brand_name" name="name" value="{{brand.name}}" required>
  </div>
  <div class="mb-3">
    <label for="brand_name" class="form-label fw-bold">Prefixo</label>
    <input type="text" class="form-control" id="brand_prefix" name="prefix" value="{{brand.prefix}}" required>
  </div>
  <div class="mb-3">
    <label for="brand_name" class="form-label fw-bold">Descrição</label>
    <textarea class="form-control" id="brand_description" name="description" rows="3">{{brand.description}}</textarea>
  </div>
  {% if brand.author_id == session['user_id'] or not brand.author_id %}
  <div class="mb-3 d-flex ">
    <input type="checkbox" class="form-check mx-2" id="is_public" name="is_public">
    <label for="brand_name" class="form-label fw-bold mb-0">Publicar {{'no repositorio remoto' if not brand.author_id
      else 'atualização' }}</label>
  </div>
  {% endif %}
  <div class="d-flex justify-content-end mt-5">
    <button type="submit" class="btn btn-primary">Editar</button>
  </div>
</form>
{% endblock %}