{% extends "./layout/base.html" %}
{% block title %}Registrar Dispositivo{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="{{url_for('device.list_registered_devices')}}">Dispositivos</a></li>
      <li class="breadcrumb-item active" aria-current="page">Registrar</li>
    </ol>
</nav>  
<h2 class="fw-bold text-body-emphasis mb-5">Registrar Dispositivo</h2>  
<form action="{{ url_for('device.register_device') }}" method="POST">
    <div class="mb-3">
        <label for="device_name" class="form-label">Apelido do dispositivo</label>
        <input type="text" class="form-control" id="device_name" name="device_name" required>
    </div>
    <div class="mb-3">
        <label for="device_description" class="form-label">Descrição do dispositivo</label>
        <textarea class="form-control" id="device_description" name="device_description" rows="3" required></textarea>
    </div>
    <div class="mb-3">
        <label for="device_model" class="form-label">Modelo do dispositivo</label>
        <input type="text" class="form-control" id="device_model" name="device_model" required>
    </div>
    <div class="mb-3">
        <label for="device_type" class="form-label">Marca de dispositivo</label>
        <select class="form-select" id="device_type" name="device_type" required>
            <option value="1">Tipo 1</option>
            <option value="2">Tipo 2</option>
            <option value="3">Tipo 3</option>
        </select>
    </div>
    <div class="d-flex justify-content-end mt-5">
    <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
{% endblock %}