{% extends "./layout/base.html" %}
{% block title %}Editar Dispositivo{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a
                href="{{url_for('application.home')}}">Dispositivos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>
<div class="d-flex justify-content-between">
    <div class="col">
        <h2 class="fw-bold text-body-emphasis mb-5">Editar Dispositivo</h2>
    </div>
    <div class="">
        <a class="btn btn-outline-danger" hx-delete="{{url_for('device.delete', device_id=device.id)}}" hx-target="body"
            hx-push-url="true">
            Excluir dispositivo
        </a>
    </div>
</div>

<form action="{{ url_for('device.update', device_id=device.id) }}" method="POST">
    <div class="mb-3">
        <label for="device_name" class="form-label">Apelido do dispositivo</label>
        <input type="text" class="form-control" id="device_name" name="name" value="{{device.name}}" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descrição do dispositivo</label>
        <textarea class="form-control" id="description" name="description" rows="3"
            required>{{device.description}}</textarea>
    </div>
    <div class="mb-3">
        <div>
            <label for="brand_id" class="form-label fw-bold">Marca</label>
            <select class="form-select select2-brands" id="brand_id" data-select2-id="brand_id" name="brand_id"
                required>
                <option value="{{device.brand_id}}" selected="selected">{{device.brand.name}}</option>
            </select>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-5">
        <button type="submit" class="btn btn-primary">Editar</button>
    </div>
    {% endblock %}