{% extends "./layout/base.html" %}
{% block title %}Registrar Dispositivo{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a
                href="{{url_for('application.home')}}">Dispositivos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registrar</li>
    </ol>
</nav>
<div class="d-flex justify-content-between">
    <div class="col">
        <h2 class="fw-bold text-body-emphasis mb-5">Registrar Dispositivo</h2>
    </div>
    <div class="">
        <a class="btn btn-outline-danger" hx-delete="{{url_for('device.delete', device_id=device.id)}}" hx-target="body"
            hx-push-url="true">
            Excluir dispositivo
        </a>
    </div>
</div>

<form action="{{ url_for('device.create') }}" method="POST">
    <div class="mb-3">
        <label for="device_name" class="form-label">Apelido do dispositivo</label>
        <input type="text" class="form-control" id="device_name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="device_description" class="form-label">Descrição do dispositivo</label>
        <textarea class="form-control" id="device_description" name="device_description" rows="3" required></textarea>
    </div>
    <div class="mb-3">
        <label for="device_type" class="form-label">Marca de dispositivo</label>
        <select class="form-select disabled" id="device_type" name="brand_id">
            <option value="" selected>Selecione uma marca</option>
            {% for brand in brands %}
            <option value="{{brand.id}}" {{ "selected=true" if brand.id==selected_brand_id else '' }}>{{brand.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="brand_name" class="form-label fw-bold">Publicar no repositorio remoto</label>
        <input type="checkbox" class="form-check" id="brand_is_plublic" name="publish">
    </div>
    <div class="d-flex justify-content-end mt-5">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
    {% endblock %}