{% extends "./layout/base.html" %}
{% block title %}Detalhes{% endblock %}
{% block content %}
<div class="d-flex justify-content-between">
    <div class="col">
        <h2 class="fw-bold text-body-emphasis">{{user_device.nickname}}</h2>
        <subtitle class="fw-bold text-body-emphasis mb-5">Detalhes do dispositivo</subtitle>
    </div>
    <div class="">
        <a class="btn btn-outline-danger" hx-delete="{{url_for('user_device.delete', user_device_id=user_device.id)}}"
            hx-target="body" hx-push-url="true">
            Desconectar dispositivo
        </a>
    </div>
</div>

<div>
    <label for="hostname" class="form-label fw-bold">Hostname</label>
    <input type="text" class="form-control" id="hostname" name="hostname" value="{{user_device.hostname}}" disabled>
    <label for="ip" class="form-label fw-bold">IP</label>
    <input type="text" class="form-control" id="ip" name="ip" value="{{user_device.address}}" disabled>
    <label for="port" class="form-label fw-bold">Porta</label>
    <input type="text" class="form-control" id="port" name="port" value="{{user_device.port}}" disabled>
</div>

<div>
    <h3 class="fw-bold text-body-emphasis mt-5">Comandos</h3>
    <a href="{{url_for('action.new', device_id=user_device.device_id)}}" class="">Adicionar comando</a>

    <div class="d-flex flex-column gap-2">
        {% for command in commands %}
        <a href="{{url_for('user_device.call_action', user_device_id=user_device.id, action_id=command.id)}}"
            class="btn btn-primary">{{command.name}}</a>
        {% endfor %}
    </div>
</div>

<script>

</script>
{% endblock %}