{% extends "./layout/base.html" %}
{% block title %}Comandos{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="fs-3 mb-0">Comandos</h1>
                <a href="{{url_for('action.create')}}" class="btn btn-primary">Novo Comando</a>
            </div>
            <div class="table-responsive">
                {% for action in actions %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <h5 class="card-title
                                    {% if action.status == 'online' %}
                                        text-success
                                    {% elif action.status == 'offline' %}
                                        text-danger
                                    {% endif %}">
                                    {{action.name}}
                                </h5>
                                <p class="card-text">{{action.description}}</p>
                            </div>
                            <div class="dropdown">
                                <button class="btn" type=" button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    ...
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}