{% extends "./layout/base.html" %}
{% block title %}Comandos{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="fs-3 mb-0">Comandos</h1>
                <div class="d-flex gap-3">
                    <a href="{{url_for('action.list_remote')}}" class="btn btn-outline-primary">Importar comando <i
                            class="bi bi-house-down"></i></a>
                    <a href="{{url_for('action.create')}}" class="btn btn-primary">Novo Comando</a>
                </div>
            </div>
            <div class="table-responsive">
                {% for action in actions %}
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center gap-3">
                                <i
                                    class="fs-2 bi bi-{{'globe-americas' if action.contribution_id else 'house-fill'}}"></i>
                                <div class="">
                                    <h5 class="card-title fw-bold mb-0">{{action.name}}</h5>
                                    <p class="fw-bold text-body-secondary fs-8 fst-italic mb-1">por:
                                        {{action.author.name if action.author_id else session['user_name'] }}</p>
                                    </p>
                                    <p class="text-body-tertiary mb-0">
                                        Ultima revisão: {{action.updated_at.strftime("%m/%d/%Y")}}
                                    </p>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    ...
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item"
                                            href="{{url_for('action.show', action_id=action.id)}}">Ver
                                            detalhes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}