{% extends "./layout/base.html" %}
{% block title %}Registrar Dispositivo{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><a
                href="{{url_for('application.home')}}">Dispositivos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ações</li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>
<div class="d-flex justify-content-center">
    <div class="col">
        <h2 class="fw-bold text-body-emphasis mb-5">Editar Comando</h2>
    </div>
    <div class="">
        <a class="btn btn-outline-danger" hx-delete="{{url_for('action.delete', action_id=action.id)}}" hx-target="body"
            hx-confirm="Tem certeza que deseja excluir o comando?" hx-push-url="true"
            hx-vals='js:{is_public: $("#is_public").is(":checked")}'>
            Excluir comando
        </a>
    </div>
</div>
<form action="{{ url_for('action.update', action_id=action.id)}}" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Nome da ação</label>
        <input type="text" class="form-control" id="name" name="name" value="{{action.name}}" required>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Descrição</label>
        <textarea class="form-control" id="description" name="description" rows="3"
            required>{{action.description}}</textarea>
    </div>
    <div>
        <label for="request_method" class="form-label">Método</label>
        <select class="form-select" id="request_method" name="request_method" required>
            {% for method in request_methods %}
            <option value="{{method}}" {{"selected=true" if method==action.request_method.value else "" }}>
                {{method}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="connection_protocol" class="form-label">Protocolo</label>
        <select class="form-select" id="connection_protocol" name="connection_protocol" required>
            {% for protocol in connection_protocols %}
            <option value="{{protocol}}" {{"selected=true" if protocol==action.connection_protocol.value else "" }}>
                {{protocol}}
            </option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="path" class="form-label">Rota</label>
        <input type="text" class="form-control" id="path" name="path" value="{{action.path}}" required>
    </div>
    <div class="mb-3">
        <label for="device_id" class="form-label">Modelo</label>
        <select class="form-select select2-devices" data-select2-id="device_id" id="device_id" name="device_id"
            required>
            <option value="{{action.device_id}}" selected="selectd">{{action.device.name}}</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="payload" class="form-label">Payload</label>
        <span class="ms-3" onclick="prettyPrint()"><i class="bi bi-stars"></i></span>
        <textarea class="form-control" id="payload" name="payload" rows="6">{{action.payload}}</textarea>
    </div>
    {% if action.author_id == session['user_id'] or not action.author_id %}
    <div class="mb-3 d-flex ">
        <input type="checkbox" class="form-check mx-2" id="is_public" name="is_public">
        <label for="brand_name" class="form-label fw-bold mb-0">Publicar {{'no repositorio remoto' if not
            action.author_id
            else 'atualização' }}</label>
    </div>
    {% endif %}

    <div class="d-flex justify-content-end mt-5">
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </div>
    </div>
</form>

<script>
    function prettyPrint() {
        var payload = document.getElementById('payload').value;
        var prettyPayload = JSON.stringify(JSON.parse(payload), null, 2);
        document.getElementById('payload').value = prettyPayload;
    }
</script>
{% endblock %}