<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/application.css') }}">
    {% endblock %}
</head>
<body style="background: radial-gradient(circle at 50% 45%, #A5EAD1 0, #5D5FEF 40%);">
    <div class="cover-container d-flex flex-column vh-100 justify-content-center align-items-center">
        {% block content %}{% endblock %}
    </div>
</body>
</html>