{% extends "./layout/base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<h2 class="fw-bold text-body-emphasis mb-5">Meus dispositivos</h2>
<div class="row align-items-center g-3 mb-4">
    <div class="col mx-n4 mx-lg-n6 px-lg-6">
        <div class="col-auto d-flex align-items-center justify-content-between">
            <div class="d-flex">
                <form class="">
                    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                </form>
            </div>
            <div class="col-auto">
                <a href="{{url_for('user_device.new')}}" class="btn btn-primary">Conectar dispositivo +</a>
            </div>
        </div>
    </div>

    <div class="mb-9 mt-4 position-relative top-1 bg-">
        {% for user_device in user_devices %}
        <div class="card mb-3">

            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="">
                        <div class="d-flex gap-3 align-items-center">
                            <i class="fs-2 bi bi-lamp-fill pe-3"></i>
                            <div class="">
                                <h5 class="card-title">
                                    <a href="{{url_for('user_device.show', user_device_id=user_device.id)}}">
                                        {{user_device.nickname}}
                                    </a>
                                </h5>
                                <p class="card-text">
                                    {{user_device.device.name}} - {{user_device.device.brand.name}}</p>
                                <p class="card-text">
                                    {{user_device.hostname}}:{{user_device.port}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="dropdown">
                        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            ...
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{{url_for('user_device.show', user_device_id=user_device.id)}}">Ver
                                    detalhes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}