{% extends "./layout/base-login.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center gap-5">
    <div><img src="{{ url_for('static',filename='images/Smart-home-cuate.png') }}"></div>
    <div class="d-flex flex-column text-white text-center" style="max-width: 400px;">
        <h1 class="fw-bold">Bem-vindo(a) ao Smart Home!</h1>
        <p class="fw-bold">Diga adeus à confusão de ter que alternar entre dezenas de aplicativos para
            controlar seus dispositivos!
        </p>
        <a class="btn btn-alert btn-lg px-5 py-3 fs-3 btn-light rounded-pill fw-bold"
            href="{{ url_for('application.list_networks')}}">Começar!</a>
    </div>
</div>
{% endblock %}