:root{
    --light-purple: 93, 95, 239
}

.bg-primary {
    background-color: rgba(var(--light-purple), 1) !important;
}

.toast-success {
    background-color: #28a745; /* Success background color */
    color: #fff; /* Text color */
}

.toast-error {
    background-color: #dc3545; /* Error background color */
    color: #fff; /* Text color */
}

.toast-warning {
    background-color: #ffc107; /* Warning background color */
    color: #fff; /* Text color */
}

.toast-info {
    background-color: #17a2b8; /* Info background color */
    color: #fff; /* Text color */
}