:root{
    --light-purple: 113, 97, 239;
    --dark-purple: #493CA7;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #493CA7;
    color: rgb(255, 255, 255);
}

.btn-primary {
    --bs-btn-hover-bg: var(--dark-purple);
    --bs-btn-hover-border-color: var(--dark-purple);
    --bs-btn-bg: rgba(var(--light-purple), 1);
    --bs-btn-border-color: rgba(var(--light-purple), 1);
    --bs-btn-active-bg: var(--dark-purple);
    --bs-btn-active-border-color: var(--dark-purple);
    font-weight: bold;
}

.btn-outline-primary {
    --bs-btn-hover-bg: var(--dark-purple);
    --bs-btn-hover-border-color: var(--dark-purple);
    --bs-btn-active-bg: var(--dark-purple);
    --bs-btn-active-border-color: var(--dark-purple);
    color: rgba(var(--light-purple), 1);
    border-color: rgba(var(--light-purple), 1);
    font-weight: bold;
}

.btn-alert {
    background-color: #FFB800;
    border-color: #FFB800;
    font-weight: bold;
}


.bg-primary {
    background-color: rgba(var(--light-purple), 1) !important;
}


.toast-success {
    background-color: #28a745; /* Success background color */
    color: #fff; /* Text color */
}

.toast-error {
    background-color: #dc3545; /* Error background color */
    color: #fff; /* Text color */
}

.toast-warning {
    background-color: #ffc107; /* Warning background color */
    color: #fff; /* Text color */
}

.toast-info {
    background-color: #17a2b8; /* Info background color */
    color: #fff; /* Text color */
}

.form-control.disabled {
    background-color: var(--bs-secondary-bg)!important;
    opacity: 1;
    pointer-events: none;
}

.form-label {
    font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--bs-nav-tabs-link-active-color) !important;
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
}