:root{
    --light-purple: 58, 60, 214;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: rgb(11, 156, 102);
    color: rgb(255, 255, 255);
}

.btn-primary {
    background-color: rgba(var(--light-purple), 1);
    border-color: rgba(var(--light-purple), 1);
    font-weight: bold;
}

.bg-primary {
    background-color: rgba(var(--light-purple), 1) !important;
}

.toast-success {
    background-color: #28a745; /* Success background color */
    color: #fff; /* Text color */
}

.toast-error {
    background-color: #dc3545; /* Error background color */
    color: #fff; /* Text color */
}

.toast-warning {
    background-color: #ffc107; /* Warning background color */
    color: #fff; /* Text color */
}

.toast-info {
    background-color: #17a2b8; /* Info background color */
    color: #fff; /* Text color */
}

.form-control.disabled {
    background-color: var(--bs-secondary-bg)!important;
    opacity: 1;
    pointer-events: none;
}