<div class="modal-dialog  modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-body pb-4">
            <ul class="nav nav-tabs justify-content-around mb-5" id="myTab" role="tablist">
                <li class="nav-item flex-grow-1" role="presentation">
                    <button class="nav-link w-100 active link-opacity-75 link-dark" id="login-tab" data-bs-toggle="tab"
                        data-bs-target="#login" type="button" role="tab" aria-controls="login"
                        aria-selected="true">Login</button>
                </li>
                <li class="nav-item flex-grow-1" role="presentation">
                    <button class="nav-link w-100 link-opacity-75 link-dark" id="register-tab" data-bs-toggle="tab"
                        data-bs-target="#register" type="button" role="tab" aria-controls="register"
                        aria-selected="false">Registrar</button>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="login" role="tabpanel" aria-labelledby="profile-tab"
                    hx-get="{{url_for('application.login')}}" hx-trigger="revealed">

                </div>
                <div class="tab-pane" id="register" role="tabpanel" aria-labelledby="profile-tab"
                    hx-get="{{url_for('application.register')}}" hx-trigger="revealed">
                </div>
            </div>
        </div>
    </div>
</div>