<div class="d-flex flex-column flex-shrink-0 p-4 text-bg-dark bg-primary justify-content-between" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-5 text-white text-decoration-none">
    <div class="bi pe-none me-2"><img src="{{ url_for('static',filename='images/logo.png') }}" height="32"></div>
    <span class="fs-4 ms-3 fw-bold">Iot Hub</span>
  </a>
  <ul class="nav nav-pills flex-column mb-4">
    <li class="nav-item">
      <a href="{{url_for('application.home')}}"
        class="nav-link fw-bold text-white {{'active' if url_for(request.endpoint, **request.view_args) == url_for('application.home') or url_for(request.endpoint, **request.view_args).startswith('/user_device') else ''}}"
        aria-current="page">
        <i class="bi bi-house me-2"></i>
        Home
      </a>
    </li>
  </ul>
  <span class="fw-bold opacity-75 mb-2 fs-6">Biblioteca</span>
  <ul class="nav nav-pills flex-column mb-4 gap-2">
    <li class="nav-item">
      <a href="{{url_for('brand.index')}}"
        class="nav-link fw-bold text-white {{'active' if url_for(request.endpoint, **request.view_args).startswith('/brand') else ''}}"
        aria-current="page">
        <i class="bi bi-box-seam me-2"></i>
        Marcas
      </a>
    </li>
    <li class="nav-item">
      <a href="{{url_for('device.index')}}"
        class="nav-link fw-bold text-white {{'active' if url_for(request.endpoint, **request.view_args).startswith('/device') else ''}}"
        aria-current="page">
        <i class="bi bi-usb-symbol me-2"></i>
        Dispositivos
      </a>
    </li>
    <li class="nav-item">
      <a href="{{url_for('action.index')}}"
        class="nav-link fw-bold text-white {{'active' if url_for(request.endpoint, **request.view_args).startswith('/action') else ''}}"
        aria-current="page">
        <i class="bi bi-dpad me-2"></i>
        Comandos
      </a>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column mb-2 mt-auto">
    <li class="nav-item">
      <a href="{{url_for('application.settings')}}"
        class="nav-link text-white fw-bold {{'active' if url_for(request.endpoint, **request.view_args) == url_for('application.settings') else ''}}">
        <i class=" bi bi-gear me-2"></i>
        Configurações
      </a>
    </li>
  </ul>
</div>