<div class="d-flex justify-content-end bg-white py-2 px-5" id="topbar">
    <div class="pe-3 fs-3">
        {% if session["access_token"] %}

        <div class="dropdown">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item link-danger" hx-get="{{url_for('auth.logout')}}" hx-target="#topbar"
                        hx-swap="outerHTML">Sair</a>
                </li>
            </ul>
        </div>

        {% else %}
        <button type="button" class="btn" id="auth-toggle" hx-get="{{url_for('auth.auth_modal')}}"
            hx-target="#auth-modal" hx-trigger="click" data-bs-toggle="modal" data-bs-target="#auth-modal">
            <i class="bi bi-person-circle"></i>
        </button>
        {% endif %}
    </div>
    <span class="fw-bold align-content-center">
        {{current_user["name"] if current_user else "Usuário"}}
    </span>
</div>