<form hx-post="{{url_for('auth.register')}}" hx-swap="outerHTML" class="p-4 pt-2 gap-4 d-flex flex-column">
    <div class="d-flex flex-column">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" name="name" autocomplete="email">
    </div>
    <div class="d-flex flex-column">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" autocomplete="email">
    </div>
    <div class="d-flex flex-column">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" name="password" autocomplete="passowrd">
    </div>
    <div class="d-flex flex-column">
        <label for="password" class="form-label">Confirme a senha</label>
        <input type="password" class="form-control" name="password_confirmation" autocomplete="password_cofirmation">
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>