<form action="{{url_for('application.register')}}" method="POST" class="p-4 pt-2 gap-4 d-flex flex-column">
    <div class="d-flex flex-column">
        <label for="name" class="form-label">Nome</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="d-flex flex-column">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    </div>
    <div class="d-flex flex-column">
        <label for="password" class="form-label">Senha</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="d-flex flex-column">
        <label for="password" class="form-label">Confirme a senha</label>
        <input type="password" class="form-control" id="password" name="password_confirmation">
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
</form>