<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/select2.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/application.css') }}">
    {% endblock %}
    <script src="{{ url_for('static',filename='js/libs/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/libs/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js//libs/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/libs/htmx.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/libs/select2.full.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/libs/select2-pt-BR.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/initializers/select2.js') }}"></script>
</head>

<body class="d-flex flex-nowrap bg-body-tertiary">
    {% include "./components/navbar.html" %}
    <div class="d-flex flex-column vh-100 flex-grow-1">
        {% include "./components/topbar.html" %}
        <div class="overflow-y-scroll">
            <div class="p-5 container d-flex flex-column ">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <div id="alerts" class="toast-container position-absolute top-0 end-0 p-3" style="z-index: 1100;"
        hx-swap-oob="afterbegin">
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% for category, message in messages %}
        <div class="toast {{ 'toast-' + category }}" role="alert" aria-live="assertive" aria-atomic="true"
            data-bs-autohide="true" data-bs-delay="5000">
            <div class="toast-body">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
    <div class="modal fade" id="auth-modal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <script>
        $('.toast').map(function (index, element) {
            if (element.classList.contains('hide')) { return; }
            let toast = new bootstrap.Toast(element);
            toast.show();
            setTimeout(function () { element.remove(); }, 15 * 1000);
        });

        // HTMX requests
        htmx.onLoad(function (content) {
            [content].map(el => {
                if (el.classList.contains('toast')) {
                    let toast = new bootstrap.Toast(el);
                    toast.show();
                    setTimeout(function () {
                        el.remove();
                    }, 15 * 1000);
                }
            });
        });

        // Modal
        htmx.on('close-modal', function (event) {
            $('#auth-modal').modal('hide');
        });
    </script>
</body>

</html>